<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联创团队</title>
	<link rel="stylesheet" href="css/index.css" type="css/text">
</head>
<body>
	<div id="mainContainer" class="flexContainer">
		<div id="header" class="flexHeader">
			<div class="flexHeader-left"><image alt="团队logo" /></div>
			<div class="flexHeader-right">
				<a href="#">首页</a>
				<a href="javascript:void(0)">简介</a>
				<a href="javascript:void(0)">组别</a>
				<a href="javascript:void(0)">大事记</a>
				<a href="javascript:void(0)">作品</a>
			</div>
		</div>
		<div id="content" class="flexContent">
			<div class="content-motto">
				<p>Unique Studio,Unique Still.</p>
				<p>“在这里，天马行空的想法和无条件投入的兴趣是最受尊重的东西。”</p>
			</div>			
			<div class="content-button">
				<button id="experienceHere">感受这里</button>
			</div>
		</div>
		<div id="footer" class="flexFooter">
			<span>©Copyright 2014 Unique Studio. All Rights Reserved.</span>
			<img src="images/renren.png" alt="人人" />
			<img src="images/weibo.png" alt="微博" />
			<img src="images/wechat.png" alt="微信" />
		</div>
	</div>
</body>
</html>