<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联创团队</title>
	<link rel="stylesheet" href="../static/css/reset.css" type="css/text">
	<link rel="stylesheet" href="../static/css/groupCommon.css" type="css/text">
	<link rel="stylesheet" href="../static/css/index.css" type="css/text">
	<link rel="stylesheet" href="../static/css/home.css" type="css/text">
</head>
<body>
	<div id="header">
		<div class="flexHeader-left"><image alt="团队logo" /></div>
		<div class="flexHeader-right">
			<a href="#">首页</a>
			<a href="javascript:void(0)">简介</a>
			<a href="javascript:void(0)">组别</a>
			<a href="javascript:void(0)">大事记</a>
			<a href="javascript:void(0)">作品</a>
		</div>
	</div>
	<div id="main">
		<div id="homePage">
			<div>
				<div class="content-motto">
					<p>Unique Studio,Unique Still.</p>
					<p>“在这里，天马行空的想法和无条件投入的兴趣是最受尊重的东西。”</p>
				</div>			
				<div class="content-button">
					<div id="expButtonBox">
						<a href="javascript:void(0)" id="experienceHere">感受这里</a>
						<div id="ctButtonBorderRight" class="ctButtonBorder"></div>
						<div id="ctButtonBorderTop" class="ctButtonBorder"></div>
						<div id="ctButtonBorderLeft" class="ctButtonBorder"></div>
						<div id="ctButtonBorderBottom1" class="ctButtonBorder"></div>
						<div id="ctButtonBorderBottom2" class="ctButtonBorder"></div>
						<a href="javascript:void(0)" id="ctBUttonShadow"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
			<span>©Copyright 2014 Unique Studio. All Rights Reserved.</span>
			<img src="../static/img/renren.png" alt="人人" />
			<img src="../static/img/weibo.png" alt="微博" />
			<img src="../static/img/wechat.png" alt="微信" />
		</div>
	<div id="mainContainer" class="flexContainer">
		
		
	</div>
</body>
</html>